@page
@model JidFit.Pages.nutritionist.DeletePlateModel
@{
}
<H1>
	Are you sure you want to delete John Doe's Mlukia in Breakfast?
</H1>

<div class="row">
	<div class="col">
		<a href="./ViewUsers" class="btn btn-light">No</a>
	</div>
	<div class="col">
		<form>
			<input type="submit" class="btn btn-danger" value="Yes" />
		</form>
	</div>
</div>