@page
@model JidFit.Pages.nutritionist.ViewReportModel
@{
}
<div class="row">
	<div class="col"><h1>Review Report</h1></div>
	<div class="col text-end">
		<button type="button" class="btn btn-primary">No Problem at all</button>
		<button type="button" class="btn btn-danger">It is harmful</button>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Age</th>
			<th scope="col">Weight</th>
			<th scope="col">Height</th>
			<th scope="col">Target</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>18 yr</td>
			<td>80 kg</td>
			<td>180 cm</td>
			<td>Weight Loss</td>
		</tr>
	</tbody>
</table>

<div class="d-flex align-items-center justify-content-center">
	<div class="card mb-2 me-2" style="width:fit-content">
		<img class="card-img-top mealImg"
			 src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Molokheya_Egypt%2C_2012.JPG/330px-Molokheya_Egypt%2C_2012.JPG" />
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Mlukia</h5>
					<p class="card-text">25 gm </p>
				</div>
				<div class="col-4 d-flex align-items-center justify-content-center">
					<span class="text-white rounded-3 bg-primary pt-1 pb-1 ps-2 pe-2">
						250 Cal
					</span>
				</div>
			</div>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Calories
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Protien
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Carbohydrates
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
		</ul>
	</div>
	<div class="card mb-2 me-2" style="width:fit-content">
		<img class="card-img-top mealImg"
			 src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Molokheya_Egypt%2C_2012.JPG/330px-Molokheya_Egypt%2C_2012.JPG" />
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Mlukia</h5>
					<p class="card-text">25 gm </p>
				</div>
				<div class="col-4 d-flex align-items-center justify-content-center">
					<span class="text-white rounded-3 bg-primary pt-1 pb-1 ps-2 pe-2">
						250 Cal
					</span>
				</div>
			</div>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Calories
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Protien
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Carbohydrates
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
		</ul>
	</div>
	<div class="card mb-2 me-2" style="width:fit-content">
		<img class="card-img-top mealImg"
			 src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Molokheya_Egypt%2C_2012.JPG/330px-Molokheya_Egypt%2C_2012.JPG" />
		<div class="card-body">
			<div class="row">
				<div class="col">
					<h5 class="card-title">Mlukia</h5>
					<p class="card-text">25 gm </p>
				</div>
				<div class="col-4 d-flex align-items-center justify-content-center">
					<span class="text-white rounded-3 bg-primary pt-1 pb-1 ps-2 pe-2">
						250 Cal
					</span>
				</div>
			</div>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Calories
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Protien
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Carbohydrates
				<span class="badge bg-primary rounded-pill">14</span>
			</li>
		</ul>
	</div>
</div>