@page
@model JidFit.Pages.coach.AssignExerciseModel
@{
}
<h1 class="handwr" > Assign Workout</h1>
<head>
<style>
    .row.content {
        height: auto;
    }

    .sidenav {
        background-color: #F3F8F9;
        height: auto;
    }

    .sidenav2{
        background-color: #E6F4F9;
        height:auto;
    }

    .handwr {
        font-family: "Copperplate", Fantasy;
    }

    .handwr2 {
        font-family: "Copperplate", Fantasy;
        text-align:center;
    }
    </style>
</head>
<br>
<div class=" container-fluid">
<form>
    <div class="row">
      <div class="col-lg-12">
          <input type="email" class="form-control" placeholder="email" />
      </div>
    </div><br />
        <div class="row">
            <div class="col-lg-12">
                <input type="number" class="form-control" placeholder="ID" />
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-12">
                <input type="text" class="form-control" placeholder="Target Muscle" />
            </div>
        </div><br />
    <div class="row">
        <div class="col-lg-6">
            <select class="form-control">
                <option value="Saterday">Saterday</option>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                </select>
        </div>
        <div class="col-lg-6">
               <input class="form-control" type="month" placeholder="month" />
        </div>
    </div>
</form>
</div><hr>
    <div class=" container-fluid">
    <div class="row align-content-lg-start" >
        <div class="col-lg-3 sidenav"><br />
            <h3 class="handwr2" >user's info</h3>
            <div class="rounded-circle">
               <div class="align-content-center">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:190px;height:200px;" >
               </div>
            </div>
                <br><br>
            <ul>
                <p ><span class="glyphicon glyphicon-user"></span> Jim walker</a></p>
                <p class="active"><span class="glyphicon glyphicon-envelope"></span><a href="#section1"> Email</a></p>
                <p class="active"><span class="glyphicon glyphicon-earphone"></span><a href="#section1"> Phone</a></p>
                <p class="active"><span class="glyphicon glyphicon-pencil"></span><a href="#section1"> Assigned exercises</a></p>
                <p class="active"><span class="glyphicon glyphicon-bookmark"></span><a href="#section1"> Plane</a></p>
            </ul><br>
        </div>
        <br><br><div class="col-lg-9 sidenav2">
            <div class="row"></div>
            <div class="row">
                <div class="row"></div>
                <h1 class="handwr2" style="color:DodgerBlue;">Exercises</h1>
                <div class="row"></div>
            <div class="col-lg-4">
                    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100; ">
                <h6>Exercise name: Deadlift</h6>
                    <button class="btn btn-success">Assign</button>
                    <button class="btn btn-danger">Delete</button>
            </div>
            <div class="col-lg-4">
                    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                    <button class="btn btn-success">Assign</button>
                    <button class="btn btn-danger">Delete</button>
            </div>
            <div class="col-lg-4">
                    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                <h6>Exercise name: Deadlift</h6>
                    <button class="btn btn-success">Assign</button>
                    <button class="btn btn-danger">Delete</button>
            </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                        <button class="btn btn-success">Assign</button>
                        <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                            <button class="btn btn-success">Assign</button>
                            <button class="btn btn-danger">Delete</button>
                </div>
                <div class="col-lg-4">
                        <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
                    <h6>Exercise name: Deadlift</h6>
                    <button class="btn btn-success">Assign</button>
                    <button class="btn btn-danger">Delete</button><br><br><br>
                    </div>
            </div>
        </div>
        </div>
    </div>
    <hr>