@page
@model JidFit.Pages.coach.DeleteModel
@{
}
<head>
    <style>
        .handwr {
            font-family: "Copperplate", Fantasy;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head><br /><br />
<div class="align-content-center">
<h1>Do you want to delete this exercise from that workout for that user ?</h1><br />
<div class="center">
    <div class="row">
        <div class="col-6">
        <button class="btn btn-success">Yes</button>
        </div>
        <div class="col-6">
        <button class="btn btn-danger">No</button>
            </div>
    </div>
</div>
</div>