@page
@model JidFit.Pages.coach.DescriptionModel
@{
}
<h1 class=" handwr">Exercises Descriptions</h1><br>
<style>
    .row.content {
        height: auto;
    }
    .sidenav {
        background-color: #E6F4F9;
        height: auto;
    }

    .sidenav2 {
        background-color: #F3F8F9;
        height: auto;
    }

    .handwr {
        font-family: "Copperplate", Fantasy;
    }
</style>
<div class="row sidenav">
    <h2 class="handwr">Deadlift</h2><br><br>
    <p>The bread and butter of countless gym routines, 
        this move, if done properly, 
        will predominantly engage your back and legs, 
        while building overall strength for you entire body.
    </p>
    <h5 class="handwr" style="color:#2742B5;">Target muscle</h5>
    <p>
        The deadlift exercise utilizes multiple muscle groups
        to perform but has been used to strength the hips, thighs, and back musculature.
    </p>
    <h5 class="handwr" style="color:#2742B5;">vedio for illustration</h5><br>
    <a href="https://www.youtube.com/watch?v=7j-2w4-P14I&pp=ygURZGVhZGxpZnQgZXhlcmNpc2U%3D">Deadlift explaination here :) </a>
    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
</div>

<hr>

<div class="row sidenav2">
    <h2 class="handwr">Deadlift</h2><br><br>
    <p>
        The bread and butter of countless gym routines,
        this move, if done properly,
        will predominantly engage your back and legs,
        while building overall strength for you entire body.
    </p>
    <h5 class="handwr" style="color:#2742B5;">Target muscle</h5>
    <p>
        The deadlift exercise utilizes multiple muscle groups
        to perform but has been used to strength the hips, thighs, and back musculature.
    </p>
    <h5 class="handwr" style="color:#2742B5;">vedio for illustration</h5><br>
    <a href="https://www.youtube.com/watch?v=7j-2w4-P14I&pp=ygURZGVhZGxpZnQgZXhlcmNpc2U%3D">Deadlift explaination here :) </a>
    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
</div>
<hr>

<div class="row sidenav">
    <h2 class="handwr">Deadlift</h2><br><br>
    <p>
        The bread and butter of countless gym routines,
        this move, if done properly,
        will predominantly engage your back and legs,
        while building overall strength for you entire body.
    </p>
    <h5 class="handwr" style="color:#2742B5;">Target muscle</h5>
    <p>
        The deadlift exercise utilizes multiple muscle groups
        to perform but has been used to strength the hips, thighs, and back musculature.
    </p>
    <h5 class="handwr" style="color:#2742B5;">vedio for illustration</h5><br>
    <a href="https://www.youtube.com/watch?v=7j-2w4-P14I&pp=ygURZGVhZGxpZnQgZXhlcmNpc2U%3D">Deadlift explaination here :) </a>
    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
</div>
<hr>

<div class="row sidenav2">
    <h2 class="handwr">Deadlift</h2><br><br>
    <p>
        The bread and butter of countless gym routines,
        this move, if done properly,
        will predominantly engage your back and legs,
        while building overall strength for you entire body.
    </p>
    <h5 class="handwr" style="color:#2742B5;">Target muscle</h5>
    <p>
        The deadlift exercise utilizes multiple muscle groups
        to perform but has been used to strength the hips, thighs, and back musculature.
    </p>
    <h5 class="handwr" style="color:#2742B5;">vedio for illustration</h5><br>
    <a href="https://www.youtube.com/watch?v=7j-2w4-P14I&pp=ygURZGVhZGxpZnQgZXhlcmNpc2U%3D">Deadlift explaination here :) </a>
    <img src="https://img.freepik.com/free-photo/close-up-man-doing-yoga-indoors_23-2150848039.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:130px;height:100;">
</div>