@page
@model JidFit.Pages.coach.MyTraineesModel
@{
}
<head>
    <style>
        h2{
            font-family: "Copperplate", Fantasy;
        }
    </style>
</head>
<div class="row">
    <div class="col-3">
        <div class="rounded-circle">
            <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.170Kg2556693&semt=ais_ai_generated" style="width:150px;height:140px;">
        </div>
    </div>
    <div class="col-9">
        <h5 class="fw-bold">Coach name</h5>
        <h5 class="fw-bold">ID : Co55668</h5>
        <h5 class="fw-bold">Achivements</h5>
    </div>
</div><hr />
<h2>MY Trainees</h2><br />
<div class="col-12">
<div class="row"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
    </div>
        <div class="col-lg-4">
            <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
        </div>
        <div class="col-lg-4">
            <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
        </div>
</div>
<div class="row"><br></div>
<div class="row">
        <div class="col-lg-4">
            <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
        </div>
        <div class="col-lg-4">
            <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
        </div>
        <div class="col-lg-4">
            <div class="rounded-circle">
                <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
            </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
        </div>
    </div>
<div class="row"><br></div>
<div class="row">
            <div class="col-lg-4">
                <div class="rounded-circle">
                    <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                </div>
                <h6>name : Tommy walker</h6>
                <h6>age : 20</h6>
                <h6>weight : 70 Kg</h6>
                <button class="btn btn-success">Assign workout</button>
                <button class="btn btn-primary">Show Details</button>
            </div>
            <div class="col-lg-4">
                <div class="rounded-circle">
                    <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
            </div>
            <div class="col-lg-4">
                <div class="rounded-circle">
                    <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
            </div>
        </div>
<div class="row"><br></div>
<div class="row">
                <div class="col-lg-4">
                    <div class="rounded-circle">
                        <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                    </div>
                <h6>name : Tommy walker</h6>
                <h6>age : 20</h6>
                <h6>weight : 70 Kg</h6>
                <button class="btn btn-success">Assign workout</button>
                <button class="btn btn-primary">Show Details</button>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-circle">
                        <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                    </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-circle">
                        <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                    </div>
            <h6>name : Tommy walker</h6>
            <h6>age : 20</h6>
            <h6>weight : 70 Kg</h6>
            <button class="btn btn-success">Assign workout</button>
            <button class="btn btn-primary">Show Details</button>
                </div>
            </div>
<div class="row"><br></div>
<div class="row">
                    <div class="col-lg-4">
                        <div class="rounded-circle">
                            <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                        </div>
                <h6>name : Tommy walker</h6>
                <h6>age : 20</h6>
                <h6>weight : 70 Kg</h6>
                <button class="btn btn-success">Assign workout</button>
                <button class="btn btn-primary">Show Details</button>
                    </div>
                    <div class="col-lg-4">
                        <div class="rounded-circle">
                            <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                        </div>
                <h6>name : Tommy walker</h6>
                <h6>age : 20</h6>
                <h6>weight : 70 Kg</h6>
                <button class="btn btn-success">Assign workout</button>
                <button class="btn btn-primary">Show Details</button>
                    </div>
                    <div class="col-lg-4">
                        <div class="rounded-circle">
                            <img src="https://img.freepik.com/premium-photo/stock-photograph-2023-man-woman-kid-old-texture-photo-image-2024_873925-312633.jpg?ga=GA1.1.830399616.1702556693&semt=ais_ai_generated" style="width:150px;height:140px; ">
                        </div>
                <h6>name : Tommy walker</h6>
                <h6>age : 20</h6>
                <h6>weight : 70 Kg</h6>
                <button class="btn btn-success">Assign workout</button>
                <button class="btn btn-primary">Show Details</button>
                    </div>
                </div>
</div>